{% extends "base.html" %}
{% block title %}Covid-19 : contact{% endblock %}
{% block content %}
<br>
<br>
<div class="container">
    <center>
    <div class="row">
      <div class="col">
        <head>
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
      
            function drawChart() {
             
              var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['ชาย',   1928],
                ['หญิง',  1518]
              ]);
      
              var options = {
                title: 'สถิติผู้ติดเชื้อแบ่งตามเพศ'
              };
      
              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      
              chart.draw(data, options);
            }
          </script>
        </head>
        <body>
          <div id="piechart" style="width:600px; height:400px;"></div>
        </body>
      </div>
      <div class="col">
        
        
      </div>
    </div>
    <br>
<div class="container">
<center>
  <br>
<table class="table table-bordered ">
  <thead class="thead-dark" >
  <tr>
      <th>รายชื่อจังหวัด</th>
      <th>จำนวนผู้ติดเชื้อ</th>
  </tr>
  </thead>
      <tr>
          <td><p>Bangkok</p></td>
          <td><p>{{all2.Province.Bangkok}}</p></td>
      </tr>
      <tr>
           <td><p>Chonburi</p></td>
           <td><p>{{all2.Province.Chonburi}}</p></td>
      </tr>
      <tr>
           <td><p>Phuket</p></td>
           <td><p>{{all2.Province.Phuket}}</p></td>
      </tr>
      <tr>
           <td><p>Samut Prakan</p></td>
           <td><p>180</p></td>
      </tr>
      <tr>
           <td><p>Nonthaburi</p></td>
           <td><p>{{all2.Province.Nonthaburi}}</p></td>
      </tr>
      <tr>
           <td><p>Yala</p></td>
           <td><p>{{all2.Province.Yala}}</p></td>
      </tr>
      <tr>
          <td><p>Songkhla</p></td>
          <td><p>{{all2.Province.Songkhla}}</p></td>
      </tr>
      <tr>
          <td><p>Pattani</p></td>
          <td><p>{{all2.Province.Pattani}}</p></td>
      </tr>
      <tr>
          <td><p>Narathiwat</p></td>
          <td><p>{{all2.Province.Narathiwat}}</p></td>
      </tr>
      <tr>
          <td><p>Chiang Mai</p></td>
          <td><p>41</p></td>
      </tr>
</table>
</center>
</div> 
    </center>
  </div>
{% endblock %}