{% extends "base.html" %}
{% block title %}สถิติผู้ติดเชื้อ{% endblock %}
{% block content %}
<br>
<br>
<div class="container">
    <center>
    <div class="row">
      <div class="col">
        <img src="../../static/images/Virus2.png" class="d-block w-100" >
      </div>
      <div class="col">
        <head>
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
      
            function drawChart() {
             
              var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['ชาย',   1928],
                ['หญิง',  1518]
              ]);
      
              var options = {
                title: 'สถิติผู้ติดเชื้อแบ่งตามเพศ',
                backgroundColor: 'rgb(33, 35, 36)',
                titleTextStyle:{
                  color:'rgb(255, 255, 255)',
                  fontName:'Mali',
                  fontSize: 18,
                  bold: true
                },
                legendTextStyle:{
                  color:'rgb(255, 255, 255)',
                  fontName:'Mali',
                  fontSize: 18,
                  bold: true
                }

              };
      
              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      
              chart.draw(data, options);
            }
          </script>
        </head>
        <body>
          <div id="piechart" style="width:600px; height:400px; " ></div>
        </body>
      </div>
    </div>
    <br>
<div class="container">
<center>
  <br>
<table class="table table-bordered ">
  <thead class="thead-dark" >
    
  <tr>
      <th>รายชื่อจังหวัด</th>
      <th>จำนวนผู้ติดเชื้อ</th>
  </tr>
  </thead>
      <tr>
          <td><p style="color:rgb(255, 255, 255);">Bangkok</p></td>
          <td><p style="color:rgb(255, 255, 255);">{{all2.Province.Bangkok}}</p></td>
      </tr>
      <tr>
           <td><p style="color:rgb(255, 255, 255);">Chonburi</p></td>
           <td><p style="color:rgb(255, 255, 255);">{{all2.Province.Chonburi}}</p></td>
      </tr>
      <tr>
           <td><p style="color:rgb(255, 255, 255);">Phuket</p></td>
           <td><p style="color:rgb(255, 255, 255);">{{all2.Province.Phuket}}</p></td>
      </tr>
      <tr>
           <td><p style="color:rgb(255, 255, 255);">Samut Prakan</p></td>
           <td><p style="color:rgb(255, 255, 255);">180</p></td>
      </tr>
      <tr>
           <td><p style="color:rgb(255, 255, 255);">Nonthaburi</p></td>
           <td><p style="color:rgb(255, 255, 255);">{{all2.Province.Nonthaburi}}</p></td>
      </tr>
      <tr>
           <td><p style="color:rgb(255, 255, 255);">Yala</p></td>
           <td><p style="color:rgb(255, 255, 255);">{{all2.Province.Yala}}</p></td>
      </tr>
      <tr>
          <td><p style="color:rgb(255, 255, 255);">Songkhla</p></td>
          <td><p style="color:rgb(255, 255, 255);">{{all2.Province.Songkhla}}</p></td>
      </tr>
      <tr>
          <td><p style="color:rgb(255, 255, 255);">Pattani</p></td>
          <td><p style="color:rgb(255, 255, 255);">{{all2.Province.Pattani}}</p></td>
      </tr>
      <tr>
          <td><p style="color:rgb(255, 255, 255);">Narathiwat</p></td>
          <td><p style="color:rgb(255, 255, 255);">{{all2.Province.Narathiwat}}</p></td>
      </tr>
      <tr>
          <td><p style="color:rgb(255, 255, 255);">Chiang Mai</p></td>
          <td><p style="color:rgb(255, 255, 255);">41</p></td>
      </tr>
</table>
</center>
</div> 
    </center>
  </div>
{% endblock %}