{% extends "base.html" %}
{% block title %}ข่าวประจำวัน{% endblock %}
{% block content %}

<ul class="list-group">

{% for id in all.articles %}

  {% if id.urlToImage %}
    <li class="list-group-item">
        <div class="container">
            <div class="row">
              <div class="col">
                <a href="{{id.url}}"><img src="{{id.urlToImage}}" class="d-block w-100" ></a>
              </div>
              <div class="col">
                <h2 style="color:rgb(0, 0, 0);">{{id.title}}</h2>
                <br>
                <h4>{{id.description}}</h4>
              </div>
            </div>
        </div>
        <br>    
    </li>
  {% endif %}
{% endfor %}
</ul>
{% endblock %}